body {
  font-size: 1.5em;
  background-color: #faf3e0;
  color: #1e212d;
}
p {
  color: #1e212d;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10%;
  color: #b68973;
}
h2 {
  color: #eabf9f;
}
#validate {
  color: #1e212d;
  border-radius: 40px;
  background-color: #eabf9f;
  font-size: 1.5em;
  height: 90px;
  width: 20%;
}
.center {
  text-align: center;
  height: 20%;
}
.line2 {
  text-indent: 1%;
}
span {
  font-weight: bold;
}
#answer {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
#category {
  font-size: 2em;
}
